/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************* css reset *********************************/

body{
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
}


header img{
    display: block;
    width: 60%;
    margin:50px auto 30px;
}

nav ul{
    list-style-type: none;

}

nav ul li{
    border-bottom: 1px solid #918FC9;
    text-align:center;
}

nav li a{
    display:block;
    color:#918FC9;
    text-decoration: none;
    padding:10px;
    font-weight:300;
    font-size:0.75rem;
}

nav a.active,
nav a:hover{
    font-weight:500;
    color:#5856A3; 
    font-size:1rem;  
}
/*** nav ***/

.gallery1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:3%;
    padding:10px 20px;
    margin-top: 50px;
}

.gallery1 img{
    width:100%;
    box-shadow: 2px 2px 3px 1px #CBBCBC;
}

.send{
    text-align: center;
    margin:50px auto;
}

.send h2{
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 2;
}

.send input{
	width:30%;
	padding:10px;
	margin:0 10px;
	background: white;
	font-size: 0.75rem;
	border:none;
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px #CBBCBC;
}

.send .b1{
    padding:10px;
    background: #918FC9;
    font-size: 0.75rem;
	border:none;
    border-radius:5px;
    width:20%;
    box-shadow: 2px 2px 3px 1px #CBBCBC;
    font-weight: 500;
}

.shop{
    padding:20px 50px;
}

.shop img{
    display: block;
    width:50%;
    margin:50px auto;
}

.shop .b2{
    display: block;
    width:70%;
    margin:0 auto 20px;
    padding:10px;
    background: #5E5E5E;
    font-size: 0.75rem;
	border:none;
    border-radius:5px;
    color:white;
    font-weight: 500;
    box-shadow: 2px 2px 3px 1px #CBBCBC;
}

.shop p{
    text-align: center;
    line-height:2.5;
    font-weight: 300;
    width: 50%;
    margin:0 auto;
}

.gallery2{
    padding:20px 50px;
    margin-bottom: 80px;
}

.small{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:2%;
    margin:0 auto 20px;
}

.gallery2 img{
    width:100%;   
}

.gallery2 .big{
    box-shadow: 2px 2px 3px 1px #CBBCBC;
}

footer{
    background-color: #918FC9;
    color: white;
}

footer .text{
    padding:20px 50px;
    font-size: 0.75rem;
    display: flex;
}

.text p{
  width:33.33%;
  text-align: center;
}
footer .icon{
    display:flex;
    margin:0px auto;	
    justify-content: center;
    padding-bottom: 15px;
}
    
.facebook,
.ins,
.twitter{
    padding:10px;    
}

footer .copyright{
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
}
/************************* ABOUT PAGE  ABOVE*********************************/
.banner{
    display:grid;
    grid-template-rows: 1fr 2fr;
}

.banner img{
    grid-column: 1/2;
    grid-row:1/3;
    width:100%;
}

.banner .title{
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 1;
    text-align: center;
    margin:0 10%;
    color:black;
}

.title h1{
    font-size: 2rem;
    font-weight: 700;
}

.title p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 20px;
    line-height: 2;
}

.block1{
    margin:70px 60px;
    text-align: left;
    padding:20px;
}

.block1 h1{
    font-size:1.5rem;
    margin:20px 0;
    color: #5856A3;
}

.block1 p{
    font-weight: 300;
    line-height: 2;
}

.b3{
    padding:10px;
	border:1.5px solid #5856A3;
    border-radius:5px;
    width:20%;
    box-shadow: 2px 2px 3px 1px #CBBCBC;
    font-size:1rem;
    font-weight: 500;
    margin:30px 0;
}

.gallery3{
    padding:50px;
    background-color: #FDF5F5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:2%;
}

.gallery3 img{
    width:100%;
}

.team{
    padding:10px;
    text-align: center;
}

.team h2{
    margin-bottom: 20px;
}
/************************* MENU PAGE ABOVE*********************************/
.name{
    padding:50px 70px;
}

.name img{
    display: block;
    width:40%;
    margin:20px auto;
}

.name h1{
    text-align: center;
}

.name p{
    text-align: center;
    font-weight: 300;
}

.gallery4{
    padding:20px 50px;
    margin-bottom: 50px;
}

.gallery4 img{
    width:100%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px 1px #CBBCBC;
}

.block2{
    padding:20px 50px;
    margin-bottom: 50px;
}

.block2 h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:#5856A3;  
}

.block2 p{
    font-weight: 300;
    line-height: 2;
    margin-bottom: 30px;
}

.block2 button{
    display: block;
    margin: 0 auto;   
}
/************************* CONTACT PAGE ABOVE*********************************/
@media screen and (min-width:675px){
    nav ul{
        display:-webkit-flex;
        display:flex;
    }

    nav ul li{
        width: 33.33%;
        border-right: 1px solid white;
        background-color:#5856A3 ;
    }

    nav li a{
        font-size:1.25rem;
        padding:8px;
        color:white;
    }

    nav a.active,
    nav a:hover{
        color:white;
        font-size:1.35rem;
    }
    /******* responsive nav *****/
    .gallery1{
        padding:50px 100px;
    }

    .send h2{
        font-size:1.5rem;
    }

    .send input,
    .send .b1,
    .shop .b2{
        font-size:1rem;
        padding:15px;
    }

    .shop{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .shop p{
        margin-top: 20%;
        font-size:1.25rem;
    }

    .gallery2 .small{
        display: block;
        width:60%;   
    }

    .small img{
        margin-bottom: 10px;
    }

    .gallery2{
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-top: 50px;
    }

    .gallery2 .big{
        grid-column:1/2 ;
        grid-row: 1/2;
    }
    /******* responsive gallery2 of page ABOUT *****/
    
    footer .text{
        font-size: 1rem;
    }

    .facebook,
    .ins,
    .twitter{
            padding:10px 50px;    
    }
    /************************* ABOUT PAGE in screen size 675************************/
    .banner h1{
        font-size: 2.5rem;
    }

    .banner p{
        font-size: 1.75rem;
    }

    .block1 h1{
        font-size: 2rem;
    }

    .block1 p{
        font-size: 1.5rem;
    }
    .gallery3{
        padding: ;
    }
    .gallery3 h2{
        font-size: 1.5rem;
    }

    .gallery3 p{
        line-height: 3;
    }
    /************************* MENU PAGE in screen size 675************************/
    .name{
        padding:70px 70px;
    }

    .name h1,
    .name p{
        font-size: 1.25rem;
    }
    
    .gallery4{
        padding:0 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:3%;
    }
     
    .block2 h1{
        font-size: 2rem;
    }

    .block2 p{
        font-size: 1.25rem;
    }
     /************************* CONTACT PAGE in screen size 675************************/

}

@media screen and (min-width:975px){
    nav li a{
        font-size: 1.5rem;
        padding: 10px;;
    }

    nav a.active,
    nav a:hover{
        font-size: 1.75rem;
    }

    .gallery1,
    .gallery2{
        padding:70px 150px;
    }
    .shop{
        padding:70px 200px;
    }

    footer .text{
        font-size: 1.25rem;
    }

    .facebook,
    .ins,
    .twitter{
        padding:10px 100px;    
    }
    /************************* ABOUT PAGE in screen size 975************************/
    .banner h1{
        font-size: 3.5rem;
    }

    .banner p{
        font-size: 2.5rem;
    }

    .block1{
        padding:70px 200px;
    }

    .gallery3{
        padding: 150px;
    }
    /************************* MENU PAGE in screen size 975************************/

    .name{
        padding:70px 300px;
    }

    .gallery4{
        padding: 0 150px;
    }

    .block2{
        padding:70px 200px;
    }
}
